<style>
    footer{
        position: fixed;
        bottom: 0%;
        width: 100%;
        text-align: center;
        color: blueviolet;
        background-color: aquamarine;
    }
</style>
<footer>
    <p>Created by HACKTIV 8</p>
</footer>