<style>
    nav{
        background-color:aqua;
        padding: 30px;
        text-align: center;
    }
    body{
        margin: 0;
    }
</style>
<nav>
    <h1 style="text-decoration:solid; color:blue">Sensus Ku</h1>
    <a href="/districts">Subdistrict</a>
    <a href="/citizens">Citizen</a>
</nav>